<!doctype html>
<html lang="en">
<body>
  <input type="text" id="message">
  <input type="button" value="post" onClick="post_message();">
  <hr>
  <div id="messages"></div>
</body>

<script type="text/javascript">
messages = document.getElementById('messages');
message  = document.getElementById('message' );

var evs = new EventSource('<%= route :login, action_params[:user] %>');
evs.onmessage = function(e) {
  message.value = null;
  messages.innerHTML = e.data + messages.innerHTML;
}
evs.addEventListener('welcome', function(e){
  messages.innerHTML = '<p><sub>' + e.data + ' entered the room</sub></p>' + messages.innerHTML;
});

function post_message() {
  var xhr = new XMLHttpRequest();
  xhr.open('POST', '<%= route :message, action_params[:user] %>',  true);
  xhr.setRequestHeader("Content-Type","application/x-www-form-urlencoded");
  xhr.send('message=' + message.value);
}
</script>

</html>
