.row
  .span#datepicker
  .span8#entries
    == entries

javascript:
  function updateEntries(date) {
    $.post(
      '#{route :entries}/' + date,
      function(response) {
        $('#entries').html(response);
      }
    );
  }
  
